html {
font-size: calc(15.5px + 0.2vw);
}

body.extend{
width: 100%;
font-family: comic sans ms;
background-color: #ffdccc;
font-size: 1rem;
}

.down{
float: left;
height: 75px;
margin-left: 3px;
margin-top: 3px;
}

.header{
padding-bottom: 4px;
margin: 0 auto;
width: 200px;
display: inline-block;
}

nav{
float: right;
padding-top: 15px;
}

.header-text {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    width: 600px;
}

nav a {
display: inline-block;
padding: 5px 8px;
margin: 0 2px;
border-radius: 8px;
text-decoration: none;
color: black;
transition: transform 0.2s ease, background-color 0.2s ease;
}

nav a:hover {
background-color: #fb6376;
transform: scale(1.1);
}
.centered{
margin: 0 auto;
width: 100%;
padding-bottom: 6px;
text-align: center;
background-color: #fcb1a6;
}

header.clear-float {
background-color: #fcb1a6;
}

.clear-float::after {
content: "";
display: table;
clear: both;
}

.middle{
margin: auto 0;
}

.table{
margin: auto 29%;
max-width: 300px;
border-color: black;
border-width: 10px;
}

.table-color{
background: #fb6376;
padding-left: 3px;
padding-right: 3px;
padding-bottom: 3px;
}

.color{
background: #fb6376;
padding: 10px;
border-radius: 10px;
text-align: center;
}

footer{
width: 100%;
padding: 3px;
background-color: #fcb1a6;
}

.image-cell {
text-align: center;
}

.img-description {
font-size: smaller;
color: black;
margin: 5px 0 0 0;
padding: 0;
}

.image-cell img {
max-width: 100%;
height: auto;
}