body.extend{
width: 100%;
font-family: comic sans ms;
background-color: #ffdccc;
}

.down{
float: left;
height: 75px;
margin-left: 3px;
margin-top: 3px;
}

.header{
padding-bottom: 4px;
float: left;
margin: 0 auto;
width: 200px;
background-color: #fcb1a6;
}

nav{
float: right;
padding-right: 13px;
background-color: #fcb1a6;
}

.centered{
margin: 0 auto;
width: 100%;
padding-bottom: 6px;
text-align: center;
background-color: #fcb1a6;
}

.middle{
margin: auto 0;

}

.table{
margin: auto 29%;
max-width: 300px;
border-color: black;
border-width: 10px;
}

.table-color{
background: #fb6376;
padding-left: 3px;
padding-right: 3px;
padding-bottom: 3px;
}

.color{
background: #fb6376;
padding: 10px;
border-radius: 10px;
}

footer{
width: 100%;
padding: 3px;
background-color: #fcb1a6;
}